<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumer Details</title>
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>

<div class="consumer-card">

    <h2>Consumer Details</h2>

      <table>
      <tr>
         <td><strong>Consumer Number</strong></td>
         <td>{{consumer.consumer_no}}</td>
      </tr>

      <tr>
         <td><strong>Consumer Name</strong></td>
         <td>{{consumer.consumer_name}}</td>
      </tr>

      <tr>
         <td><strong>Mobile</strong></td>
         <td>{{consumer.mobile}}</td>
      </tr>

      <tr>
         <td><strong>Email</strong></td>
         <td>{{consumer.email}}</td>
      </tr>

      <tr>
         <td><strong>Division</strong></td>
         <td>{{consumer.division}}</td>
      </tr>

      <tr>
         <td><strong>Sanctioned Load</strong></td>
         <td>{{consumer.sanctioned_load}} KW</td>
      </tr>

      <tr>
         <td><strong>Meter Number</strong></td>
         <td>{{consumer.meter_no}}</td>
      </tr>

      <tr>
         <td><strong>Connection Date</strong></td>
         <td>{{consumer.connection_date}}</td>
      </tr>

      <tr>
         <td><strong>Address</strong></td>
         <td>{{consumer.address}}</td>
      </tr>
   </table>

    <h2>Generate Bill</h2>

    <form action="/generate_bill" method="POST">

        <input type="hidden"
               name="consumer_no"
               value="{{consumer.consumer_no}}">

        <label><strong>Units Consumed</strong></label>

        <input type="number"
               name="units"
               placeholder="Enter Units Consumed"
               required>

        <button type="submit">
            Generate Bill
        </button>

    </form>

</div>

</body>
</html>